<div class="header__nav">
    <div class="header__nav__inner">
        
        <div class="header__home__wrap">
            <a class="header__nav__menu pc" href="{{module.home.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image">
                        <img class="pc" src="{{module.home.image_menu.src}}" alt="">
                        <img class="mobile" src="{{module.home.image_menu_mobile.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text pc">
                        <img src="{{module.home.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
        </div>
        
        <div class="header__home__wrap has-submenu">
            <a class="header__nav__menu" href="{{module.guide.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image">
                        <img class="pc" src="{{module.guide.image_menu.src}}" alt="">
                        <img class="mobile" src="{{module.guide.image_menu_mobile.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text pc">
                        <img src="{{module.guide.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
            <div class="model__header_wrap">
                <div class="model__guide model__header pc" >

                <div class="model__guide__texttitle">{{module.guide.model.text_title}}</div>
                
                <div class="model__guide__content">
                    {% for cate in module.guide.model.category %}
                        <a href="{{cate.link.url.href}}" class=" image__model" style="background: url({{cate.image.src}}) no-repeat left bottom;">
                            <!-- <img src="{{cate.image.src}}" alt=""> -->
                        </a>
                        
                        {% endfor %}
                </div>
                </div>
                </div>
            </div>

        <div class="header__home__wrap has-submenu">
            
            <a class="header__nav__menu" href="{{module.price.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image">
                        <img class="pc" src="{{module.price.image_menu.src}}" alt="">
                        <img class="mobile" src="{{module.price.image_menu_mobile.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text pc">
                        <img src="{{module.price.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
            <div class="model__header_wrap">
                <div class="model__header model__price pc">
                    <div class="model__guide__texttitle">{{module.price.model.text_theme_1}}</div>
                    <div class="model__price__theme1  margin__bottom">
        
                        <div class="model__price-image">
                            <a href="{{module.price.model.link_image_1_title_1.url.href}}" class="model__price__theme1-image1 image__model" style="background: url({{module.price.model.image_1_title_1.src}}) no-repeat left bottom;">
                                <!-- <img src="{{module.price.model.image_1_title_1.src}}" alt=""> -->
                            </a>
                            <a href="{{module.price.model.link_image_2_title_1.url.href}}" class="model__price__theme1-image1 image__model" style="background: url({{module.price.model.image_2_title_1.src}}) no-repeat left bottom;">
                                <!-- <img src="{{module.price.model.image_2_title_1.src}}" alt=""> -->
                            </a>
                        </div>
        
                        <div class="model__price__column">
                            <div class="model__price__column-title">{{module.price.model.text_title_theme_1}}</div>
        
                            <div class="model__price__column-content">
                                {% for col in module.price.model.column_theme_1 %}
                                <div class="model__price__column-column">
                                    {% for cate in col.category %}
                                <a href="{{cate.link.url.href}}" class="model__header_category">{{cate.text}}</a>
        
                                    {% endfor %}
                                </div>
        
                                {% endfor %}
                            </div>
                        </div>
        
                        <div class="model__price-image">
                            <a href="{{module.price.model.link_image_3_title_1.url.href}}" class="model__price__theme1-image1 image__model" style="background: url({{module.price.model.image_3_title_1.src}}) no-repeat left bottom;">
                                <!-- <img src="{{module.price.model.image_1_title_2.src}}" alt=""> -->
                            </a>
                        </div>
        
                        <div class="model__price__column1">
                            {% for cate in  module.price.model.category %}
                                <a href="{{cate.link.url.href}}" class="model__header_category">{{cate.text}}</a>
        
                            {% endfor %}
                        </div>
        
                    </div>
                    <div class="model__guide__texttitle">{{module.price.model.text_theme_2}}</div>
                    <div class="model__price__theme1">
                        <div class="model__price-image">
                            <a href="{{module.price.model.link_image_1_title_2.url.href}}" class="model__price__theme1-image1 image__model" style="background: url({{module.price.model.image_1_title_2.src}}) no-repeat left bottom;">
                                <!-- <img src="{{module.price.model.image_1_title_1.src}}" alt=""> -->
                            </a>
                            <a href="{{module.price.model.link_image_2_title_2.url.href}}" class="model__price__theme1-image1 image__model" style="background: url({{module.price.model.image_2_title_2.src}}) no-repeat left bottom;">
                                <!-- <img src="{{module.price.model.image_2_title_1.src}}" alt=""> -->
                            </a>
                        </div>
                        <div class="model__price__column-content">
                            {% for col in module.price.model.column_theme_2 %}
                            <div class="model__price__column-column">
                                {% for cate in col.category %}
                            <a href="{{cate.link.url.href}}" class="model__header_category">{{cate.text}}</a>
        
                                {% endfor %}
                            </div>
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__home__wrap has-submenu">
            <a class="header__nav__menu" href="{{module.receive.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image">
                        <img class="pc" src="{{module.receive.image_menu.src}}" alt="">
                        <img class="mobile" src="{{module.receive.image_menu_mobile.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text pc">
                        <img src="{{module.receive.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
            <div class="model__header_wrap ">
                <div class="model__header model__receive pc">
                    <div class="model__guide__texttitle">{{module.receive.model.text_theme_1}}</div>
        
                    <div class="model__guide__content margin__bottom">
                        {% for cate in module.receive.model.category %}
                            <a href="{{cate.link.url.href}}" class=" image__model" style="background: url({{cate.image.src}}) no-repeat left bottom;">
                                <!-- <img src="{{cate.image.src}}" alt=""> -->
                            </a>
                            
                            {% endfor %}
                    </div>
        
                    <div class="model__guide__texttitle theme2">{{module.receive.model.text_theme_2}}</div>
        
                    <div class="model__receive__content">
                        <div class="model__receive__left">
                            {% for left in module.receive.model.left_theme_2 %}
                            <div class="model__receive__left-content">
                                <div class="model__receive__left-title">{{left.text_title}}</div>
                            {% for cate in left.category %}
                            <a href="{{cate.link_category.url.href}}" class="model__receive__left-category">{{cate.text_category}} </a>
        
                            {% endfor %}
                            </div>
        
                            {% endfor %}
                        </div>
        
                        <div class="model__receive__right">
                            <div class="model__receive__left-title">{{module.receive.model.right_theme_2.text_title}}</div>
                            {% for cate in module.receive.model.right_theme_2.category %}
                            <a href="{{cate.link_category.url.href}}" class="model__receive__left-category">{{cate.text_category}} </a>
        
                            {% endfor %}
        
                        </div>
        
                    </div>
        
                </div>
            </div>
        </div>

        <div class="header__home__wrap has-submenu">
            <a class="header__nav__menu active" href="{{module.faq.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image faq">
                        <img class="pc" src="{{module.faq.image_menu.src}}" alt="">
                        <img class="mobile" src="{{module.faq.image_menu_mobile.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text pc">
                        <img src="{{module.faq.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
        </div>

        <div class="header__home__wrap has-submenu">
            <a class="header__nav__menu solution pc" href="{{module.solution.link_menu.url.href}}">
                <div class="header__nav__menu-link">
                    <div class="header__nav__menu-image">
                        <img src="{{module.solution.image_menu.src}}" alt="">
                    </div>
                    <div class="header__nav__menu-text">
                        <img src="{{module.solution.image_text_menu.src}}" alt="">
                    </div>
                </div>
            </a>
        </div>


    </div>
</div>
<div class="model__header__global pc"></div>
<script>
$('.header__home__wrap.has-submenu').hover(
function() {
$('.model__header__global').addClass('active');
},
function() {
    $('.model__header__global').removeClass('active');
}
);
if (window.innerWidth > 767){
    const images = document.querySelectorAll('.header__nav__menu-image');

// Lưu vị trí trước đó
window.addEventListener('scroll', () => {
    const currentScrollPosition = window.scrollY; // Vị trí hiện tại
    // console.log(currentScrollPosition)

    images.forEach((image) => {
        if (currentScrollPosition > 0) {
            // Nếu cuộn xuống, ẩn ảnh
            image.classList.add('hidden');
        } else if (currentScrollPosition === 0) {
            // Nếu trở về đầu trang, hiển thị lại
            image.classList.remove('hidden');
        }
    });


});
}
</script>
<style>
    .model__guide__content{
    display: flex;
}
.model__header{
background: url(https://47021661.fs1.hubspotusercontent-na1.net/hubfs/47021661/town%20wifi/gnavi_mega_bg_02.png); 
padding: 2.5rem;
position: relative;
z-index: 11;
}
.model__header_wrap{
padding-top: 1.5rem;
top: 100%;
left: 0;
right: 0;
opacity: 0;
position: absolute;
pointer-events: none;
}
.header__nav{
    background-color: #051f49;
}
.header__nav__inner{
    position: relative;
    max-width: 98rem;
    margin: auto;
    display: flex;
}
.model__guide__texttitle{
    border-bottom: 1px solid #051f49;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.08rem;
    padding-bottom: 0.7rem;
    margin-bottom: 2rem;
}
.model__guide{
    background-color: #fff;
}
.header__nav__menu{
    padding-top: 0.8rem;
    position: relative;
    padding: 1.4rem 0 .4rem;
}
.header__nav__menu.solution .header__nav__menu-image{
    width: 2rem;
    margin: auto;
}
.header__nav__menu.solution {
    padding-left: 4rem;
    padding-right: 4rem;
}
.header__nav__menu::before{
    content: "";
    border-right: 1px solid #3e577a;
    width: 0;
    height: calc(100% - 1.6rem);
    position: absolute;
    top: 0.8rem;
    left: 1px;
}
.header__nav__menu.solution::after{
    content: "";
    border-right: 1px solid #3e577a;
    height: calc(100% - 1.6rem);
    position: absolute;
    width: 0;
    top: 0.8rem;
    right: 0;
}
.image__model{
    margin-right: 1.6rem ;
    height: 11rem;
    border: 1px solid #051f49;
    border-radius: 3px;
    overflow: hidden;
    width: 11rem;
    background-size: 100% !important;
    overflow: hidden;
}
.image__model:hover{
    background-position: top left !important;
}
.model__price__theme1{
    display: flex;
}
.model__price-image{
    display: flex;
}
.model__price__column-content{
    display: flex;
}
.model__header_category{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #051f49;
    padding: .2rem .8rem .2rem 2rem
}
.model__header_category:hover{
    background-color: #DEE8ED;
    color: #025CD3;
}
.model__header_category{
    background: url(https://47021661.fs1.hubspotusercontent-na1.net/hubfs/47021661/town%20wifi/mega_txlink_icon_02.png) 0.3rem 0.8rem no-repeat;
}
.model__price__column-title{
    font-weight: bold;
    line-height: 1.3rem;
    font-size: 1.4rem;
    margin-bottom: .4rem;
}
.model__price__column-column{
    margin-right: 0.4rem;
}
.model__price__column{
    margin-right: 1rem;
    border-right: 1px dotted #264C89;
}
.margin__bottom{
    margin-bottom: 2rem;
}
.model__receive__content{
    display: flex;
}
.model__receive__left{
    display: flex;
    flex-wrap: wrap;
}
.model__receive__left-title{
    margin-bottom: 1rem;
    padding: .4rem 1.2rem;
    background: #fff;
    border-left: 2px solid #001f5e;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}
.model__receive__left-category{
    color: #051f49;
    text-decoration: none;
    padding: 2px 1rem;
    background: none;
    font-size: 1.2rem;
    margin-top: .3rem;
}
.model__receive__left-category::before{
    display: inline-block;
    content: "\f054";
    width: auto;
    margin-right: .6rem;
    border: none;
    font-family: "FontAwesome";
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
}
.model__receive__left{
    width: 66rem;
}
.model__receive__right{
    margin-top: 2rem ;
    width: 22rem;
}
.model__receive__left-content{
    width: 20rem;
    margin-right: .4rem;
    margin-top: 2rem;
}
.model__guide__texttitle.theme2{
    margin-bottom: -0.5rem;
}
.active .header__nav__menu-link:before{
    content: "";
    display: block;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    position: absolute;
    top: -3px;
    left: 0;
    background: #008ae1;
    z-index: 0;
}
.active:hover .header__nav__menu-link:before{
    content: none;
}
.header__nav__menu-text, .header__nav__menu-image{
    z-index: 1;
    position: relative;
}
/* .header__nav__menu-text{
    line-height: 1.2rem;
} */
.header__nav__menu-image{
    margin-top: -.6rem !important;
    margin-bottom: -.5rem !important;
}
.header__nav__menu-link{
    height: max-content;
}
.model__header::before{
    content: "";
    width: 2rem;
    height: 1.5rem;
    background: url(https://47021661.fs1.hubspotusercontent-na1.net/hubfs/47021661/town%20wifi/gnavi_mega_bg_01.png) no-repeat center top;
    position: absolute;
    top: -1.5rem;
}
.model__guide::before{
    left: 14.2rem;
}
.model__price::before{
    left: 33.2rem;
}
.model__receive::before{
    left: 50.9rem;
}
.header__nav__menu-image.hidden{
    display: none;
}
.model__header__global{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: all .3s linear;
    z-index: -10000;
    pointer-events: none;
}
 .model__header__global.active{
    opacity: 1;
    z-index: 100000;
}
.header__home__wrap:hover{
    z-index: 1000000;
}
.header__home__wrap:hover .model__header_wrap{
    pointer-events: auto;
    opacity: 1;
    z-index: 100000;
}
.header__home__wrap:hover .model__header{
    z-index: 10000000000;
    opacity: 1;
    pointer-events: auto    ;
}
.header__home__wrap:hover .header__nav__menu{
    z-index: 1000000;
}
@media  screen and (max-width:767px) {
    .header__nav{
        background-color: rgb(21, 121, 199);
        margin-top: 5.1rem;
        padding: .55rem 0 !important;
    }
    .active .header__nav__menu-link:before{
        content: none;
        width: 0;
        height: 0;
    }
    .header__nav__menu-image{
        padding: 0 1.2rem;
        border-right: 1px solid #fff;
    }
    .header__nav__menu::before{
        content: none;
    }
    .header__nav__menu-image.faq{
        border: none;
    }
    .header__nav__menu{
        padding: 0 !important;
    }
}
</style>