html {
    font-size: 0.96153846153vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media only screen and (min-width: 1040px) {
    html{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 1.009081735621vw;
    }
  }
  
  @media only screen and (max-width: 767px) {
    html {
        font-size: calc(10vw/390*100);
    }
}
  .dnd-section>.row-fluid{
    max-width: unset !important;
  }
  .content-wrapper--vertical-spacing, .dnd-section,.dnd-section .dnd-column,.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding:0 !important
  }
  body{
    font-size: 1.4rem;
    margin: 0 ;
    padding: 0 ;
    color: #051f49;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  }
  img{
    width: 100% ;
  }
  a{
    display: block;
  }
  .anim-hover-opacity{
    opacity: 1;
    transition:.1s ease opacity;
  }
  .anim-hover-opacity:hover{
    opacity: .8;
  }
  .anim-hover-opacity1{
    opacity: 1;
    transition:.6s ease opacity;
  }
  .anim-hover-opacity1:hover{
    opacity: .6;
  }
  .__container{
    max-width: 98rem;
    margin: auto;
  }
  p{
    margin-bottom: 0;
    margin-top: 0;
  }
  .__link{
    color: #051f49;
    text-decoration: none;
  }
  .__link:hover{
    color: #025CD3;
    text-decoration: underline;
  }
  .mobile{
    display: none !important;
  }
  @media screen and (max-width:767px){
    .__container{
      width: 100% !important;
    }
    .pc{
      display: none !important;
    }
    .mobile{
      display: block !important;
    }
    body{
      font-family: Helvetica, Arial, sans-serif;
    }
  }
  body{
    transition: opacity .4s ease-in-out;
  }
  [data-init-df]{
    opacity: 0;
  }