<!-- module html  -->
<div class="footer__main pc">
    <div class="footer__appreciate">
        <div class="footer__appreciate__inner __container">
            <div class="footer__appreciate__inner-text">{{module.like_and_share.text_share_post}}</div>
            <div class="footer__appreciate__inner__like">
                {{module.like_and_share.text_like}}
            </div>
            <a href="{{module.like_and_share.link_share.url.href}}" class="footer__appreciate__inner__share">
                {{module.like_and_share.text_share}}
            </a>
            <a target="_blank" href="{{module.like_and_share.link_twitter.url.href}}" class="footer__appreciate__inner__twitter anim-hover-opacity">
                <p>{{module.like_and_share.text_twitter}}</p>
            </a>
            <a target="_blank" href="{{module.like_and_share.link_line.url.href}}" class="footer__appreciate__inner__line anim-hover-opacity">
                <img src="{{module.like_and_share.image_line.src}}" alt="">
            </a>
        </div>
    </div>
    <div class="footer__support">
        <div class="footer__support__inner __container">
            <div class="footer__support-image">
                <img src="{{module.infomation_and_support.image.src}}" alt="">
            </div>
            <div class="footer__support-textinspect">
                {{module.infomation_and_support.text_inspect}}
            </div>
            <a target="_blank" class="footer__support-login anim-hover-opacity" href="{{module.infomation_and_support.link_login.url.href}}">
                <img src="{{module.infomation_and_support.image_login.src}}" alt="">
            </a>
            <div class="footer__support__support">
                <a class="footer__support__client" href="{{module.infomation_and_support.airport.link_airport.url.href}}">
                    <div class="footer__support__client-text">{{module.infomation_and_support.airport.text_airport}}</div>
                </a>
                <a class="footer__support__info" href="{{module.infomation_and_support.support.link_support.url.href}}">
                    <div class="footer__support__info-text">{{module.infomation_and_support.support.text_support}}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__main__area __container">
        <div class="footer__main__left">

            <div class="footer__main__left-suggest">
                {% for sug in module.main_footer.left.suggest %}
                <div class="footer__main__left__suggest-wrap">
                    <div class="footer__main__left__texttitle">{{sug.text_theme}}</div>
                    {% for cate in sug.category %}
                    <a class="footer__main__left__category" href="{{cate.link_title.url.href}}">{{cate.text_title}}</a>
                    
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="footer__main__left__textairport">
                {{module.main_footer.left.text_airport}}
            </div>

            <div class="footer__main__left__area">
                <div class="footer__main__left-suggest left">
                    {% for sug in module.main_footer.left.area_left %}
                    <div class="footer__main__left__suggest-wrap">
                    <div class="footer__main__left__texttitle">{{sug.text_theme}}</div>
                    {% for cate in sug.category %}
                    <a class="footer__main__left__category" href="{{cate.link_title.url.href}}">{{cate.text_title}}</a>
                    
                    {% endfor %}
                </div>
                    {% endfor %}
                </div>
                <div class="footer__main__left-suggest right">
                    {% for sug in module.main_footer.left.area_right %}
                    <div class="footer__main__left__suggest__right-wrap">
                    <div class="footer__main__left__texttitle">{{sug.text_theme}}</div>
                    {% for cate in sug.category %}
                    <a class="footer__main__left__category" href="{{cate.link_title.url.href}}">{{cate.text_title}}</a>
                    
                    {% endfor %}
                </div>
                {% endfor %}
                </div>
            </div>

            <div class="footer__main__left-suggest">
                {% for sug in module.main_footer.left.another %}
                <div class="footer__main__left__suggest-wrap">
                    <div class="footer__main__left__texttitle">{{sug.text_theme}}</div>
                    {% for cate in sug.category %}
                    <a class="footer__main__left__category" href="{{cate.link_title.url.href}}">{{cate.text_title}}</a>
                    
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="footer__main__right">
            {% for cate in module.main_footer.right.advertise %}
                {% if cate.link_image.open_in_new_tab %}
                <a target="_blank" class="footer__main__eight__category anim-hover-opacity" href="{{cate.link_image.url.href}}">
                    <img src="{{cate.image_advertise.src}}" alt="">
                </a>
                {% else %}
                    <a class="footer__main__eight__category anim-hover-opacity" href="{{cate.link_image.url.href}}">
                        <img src="{{cate.image_advertise.src}}" alt="">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<style>
    .footer__support__support a{
        background: url("{{module.infomation_and_support.icon_arrow.src}}") no-repeat left center;
        padding-left: 1.6rem;
    }
    .footer__support{
    background-color: #e2e2e2;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.footer__support__inner{
    display: flex;
    margin: auto;
    background-color: #fff;
    align-items: center;

}
.footer__main{
    margin-top: 2.4rem;
}
.footer__main__area{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer__support__client, .footer__support__info{
    display: flex;
}
.footer__support-textinspect{
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    width: 21.93%;
}
.footer__support-image{
    margin-bottom: -.6rem;
}
.footer__support__support a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #051f49;
}
.footer__support__support{
    margin-left: 2.7rem;
    
}
.footer__main__left-suggest{
    display: flex;
    flex-wrap: wrap;

}
.footer__main__left-suggest a{
    color: #444444;
    text-decoration: none;
    padding: 4px 0;
    font-size: 1.1rem;
    line-height: 1.54rem;
}
.footer__main__left-suggest a:hover{
    background-color: #F8F8F8;
}
.footer__main__left__suggest-wrap{
    width: calc(33.33333% - 2rem);
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.footer__main__left__texttitle{
    color: #013367;
    font-size: 1.4rem;
    padding-bottom: .5rem;
    margin-bottom: .7rem;
    border-bottom: 1px dotted #666;
}
.footer__main__left__textairport{
    margin-top: 2rem;
    color: #013367;
    font-size: 1.4rem;
    padding-bottom: .5rem;
    margin-bottom: .7rem;
    border-bottom: 1px dotted #666;
}
.footer__main__left__area{
    display: flex;
}
.footer__main__left-suggest.left{
    width: 70%;
    padding-top: 1rem;
}
.footer__main__left-suggest.right{
    width: 30%;
    padding-top: 1rem;
    padding-left: 1rem;
}
.footer__main__left__suggest-wrap{
    margin-bottom: 1rem;
}
.footer__main__area{
    display: flex;
    justify-content: space-between;
}
.footer__main__right{
    width: 20.418%;
}
.footer__main__left{
    width: calc(79.592% - 0.9rem);
}
.footer__main__right a{
    margin-bottom: 1rem;
}
.footer__appreciate{
    display: flex;
    background-color: #F8F8F8;
    padding: 1rem 0;
    font-size: 1.1rem;
    overflow: hidden;
}
.footer__appreciate__inner{
    display: flex;
    justify-content: end;
    margin: auto;
    width: 98rem;
}
.footer__appreciate__inner-text{
    font-size: 1.1rem;
    padding-top: .4rem;
    margin-right: 1rem;
}
.footer__appreciate__inner__twitter{
    position: relative;
    /* height: 2rem; */
    box-sizing: border-box;
    padding: 1px 1.2rem 1px 1.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 2rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer__appreciate__inner__share{
        background: #1877F3;
    color: #fff;
    text-decoration: none;
    margin: 0 .5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    font-weight: 600;
}
.footer__appreciate__inner__like{
    background: #1877F3;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: .5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 2px;
}
.footer__appreciate__inner__twitter p{
    background: url(https://47021661.fs1.hubspotusercontent-na1.net/hubfs/47021661/town%20wifi/Vector.png) left center no-repeat;
    background-size: 20% 60%;
    padding-left: 1.5rem;
}
.footer__support__support a:hover{
    color: #025CD3;
    background-position: .3rem !important;
}
.footer__support__support a{
    transition: all .2s ease;
}
</style>
<script>
    document.querySelector('.footer__appreciate__inner__share').addEventListener('click', () => {
    const url = encodeURIComponent(window.location.href); // URL bài viết
    const title = encodeURIComponent(document.title); // Tiêu đề bài viết
    const shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${url}&quote=${title}`; // Link chia sẻ Facebook

    // Mở cửa sổ nhỏ
    window.open(
        shareUrl, 
        'Share', 
        'width=600,height=400,scrollbars=no,resizable=no,status=no,toolbar=no,menubar=no,location=no'
    );
});
// document.querySelectorAll('.footer__appreciate__inner__share').addEventListener('click', (event) => {
//         event.preventDefault(); // Chặn hành vi mặc định (truy cập đường dẫn)
//         // alert('Truy cập đường dẫn này đã bị chặn!'); // Hiển thị thông báo
//     });
</script>