<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<div class="footer">
    {% module "module_17322591075471" path="/Townwifi/modules/Townwifi-Footer", label="Townwifi-Footer" %}
{% module "module_173256175659810" path="/Townwifi/modules/Townwifi-FooterMobile", label="Townwifi-FooterMobile" %}
{% module "module_17323360390962" path="/Townwifi/modules/Townwifi-Footer_Bottom_area", label="Townwifi-Footer_Bottom_area" %}
{% module "module_17325271014104" path="/Townwifi/modules/Townwifi-BtnMobile", label="Townwifi-BtnMobile" %}
</div>
<style>
    .footer{
        margin-bottom: 4.5rem;
    }
</style>
<!-- End partial -->