<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<div class="footer">
    {% module "Townwifi-Footer" path="/Townwifi/modules/common/Townwifi-Footer", label="Townwifi-Footer" %}
{% module "Townwifi-FooterMobile" path="/Townwifi/modules/common/Townwifi-FooterMobile", label="Townwifi-FooterMobile" %}
{% module "Townwifi-Footer_Bottom_area" path="/Townwifi/modules/common/Townwifi-Footer_Bottom_area", label="Townwifi-Footer_Bottom_area" %}
{% module "Townwifi-BtnMobile" path="/Townwifi/modules/common/Townwifi-BtnMobile", label="Townwifi-BtnMobile" %}
</div>
<style>
    @media screen and (max-width:767px) {
        .footer{
            margin-bottom: 4.8rem;
        }
        
    }
</style>
<!-- End partial -->